version: 2.1

orbs:
  node: circleci/node@1.1.6

jobs:
  build:
    executor:
      name: node/default
      tag: '16.15'
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm ci
      - run: npm run build
  lint:
    executor:
      name: node/default
      tag: '16.15'
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm ci
      - run: npm run lint
  test:
    executor:
      name: node/default
      tag: '16.15'
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm ci
      - run: npm test

workflows:
  deploy:
    jobs:
      - build
      - lint
      - test
