version: 2.1

orbs:
  node: circleci/node@5.0.2

jobs:
  build:
    executor:
      name: node/default
      tag: '21.7.3'
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npm run build
  lint:
    executor:
      name: node/default
      tag: '21.7.3'
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npm run lint
  test:
    executor:
      name: node/default
      tag: '21.7.3'
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npm test

workflows:
  deploy:
    jobs:
      - build
      - lint
      - test
